

<table id="tblProject" class="last-column-fixed min-w-full divide-y divide-gray-200">
    <thead>
        <tr>
            <th scope="col"
                class="px-6 py-3 whitespace-nowrap text-left text-xs 2xl:text-sm font-medium text-black uppercase">
                Project
            </th>
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-200" id="tblProjectBody"></tbody>
</table>

<script type="text/javascript">
    let datatable = new DataTable("#tblProject", { scrollX: true });
</script>