@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/dist/UserManual.css">
</head>
<body>
    <section class="hero">
        <div class="container pt-5">
            <div class="logo d-flex justify-content-center align-items-center gap-2">
                <img src="~/assets/images/prime_logo_icon.svg" alt="">
                <img src="~/assets/images/prime_logo_text_white.svg" alt="">
            </div>
            <div class="row align-items-center mb-4">
                <div class="col-6 col-md-3">
                    <img class="img-fluid hero_img" src="~/assets/images/hero_img_1.png" alt="">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-fluid hero_img" src="~/assets/images/hero_img_2.png" alt="">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-fluid hero_img" src="~/assets/images/hero_img_3.png" alt="">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-fluid hero_img" src="~/assets/images/hero_img_4.png" alt="">
                </div>
            </div>
            <p class="text-white h1 fw-bold text-center mb-3">Portal for Resource Integration Management & Efficiency</p>
            <p class="text-white fw-medium text-center">Manage your whole workforce through the Resource Management Portal — from direct employees to international workers and everything in between.</p>
            <div class="d-flex justify-content-center mb-4">
                <a href="https://prime.teamcomputers.com" class="visit_btn">
                    <span>Visit Portal</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 48 48"><path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M42 24H6m24-12l12 12l-12 12" /></svg>
                </a>
            </div>
            <div class="bg-white p-4 timesheet_features">
                <div class="row">
                    <div class="col-12 col-md-4 timesheet_feature_card">
                        <img src="~/assets/images/hero_feature_img_1.svg" alt="">
                        <p class="h3 fw-bold">Timesheet User Manual</p>
                        <p>Timesheet is a web app that helps you fill your daily work & Track it with ease</p>
                    </div>
                    <div class="col-12 col-md-4 timesheet_feature_card">
                        <img src="~/assets/images/hero_feature_img_2.svg" alt="">
                        <p class="h3 fw-bold">Employee Timesheet</p>
                        <p>Track & Fill Your monthly work with easy accessibility</p>
                    </div>
                    <div class="col-12 col-md-4 timesheet_feature_card">
                        <img src="~/assets/images/hero_feature_img_3.svg" alt="">
                        <p class="h3 fw-bold">Manager Timesheet</p>
                        <p>Track your employees daily work & Accept/Deny Timesheets </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="login py-5">
        <div class="container">
            <div class="d-flex align-items-center gap-2 mb-4">
                <img class="heading-icon" src="~/assets/images/login_section_heading_icon.svg" alt="">
                <p class="mb-0 h2 fw-bold">Login</p>
            </div>
            <p>Enter your <span class="fw-bold">TMC ID</span> and <span class="fw-bold">password</span> on the Prime Portal login page <span class="fw-bold">(https://prime.teamcomputers.com)</span>. <br>Click "Login" to access the Employe Dashboard.</p>
            <div class="login-img-grid row">
                <img class="col-12 col-md-6 mb-4" src="~/assets/images/login_img_1.png" alt="">
                <img class="col-12 col-md-6 mb-4" src="~/assets/images/login_img_2.png" alt="">
                <img class="col-12" src="~/assets/images/login_img_3.png" alt="">
            </div>
        </div>
    </section>
    <section class="steps">
        <div class="container">
            <div class="row align-items-center pt-5">
                <div class="col-12 col-md-8">
                    <div>
                        <p class="h1 fw-bold text-white"><span class="color-green-1">Steps to Navigate</span> and Use the Timesheet on Prime Portal</p>
                        <p class="text-white">Upon logging in, the “Dashboard” provides an overview that includes important employee and project statistics, such as the number of active projects, enabling users to stay updated on progress. The profile and logout options are conveniently located in the top right corner for easy access.</p>
                        <p class="text-white">To access the timesheet, users can navigate to the left-side menu and select the "Timesheet" option. Clicking it will redirect them to the timesheet page, where they can record their activities based on projects.</p>
                    </div>
                    <div class="d-flex align-items-center gap-2 mt-5 flex-wrap">
                        <img class="heading-icon" src="~/assets/images/timesheet_dashboard_icon.svg" alt="">
                        <p class="h1 fw-bold text-white mb-0">TimeSheet Dashboard</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div>
                        <img class="img-fluid" src="~/assets/images/steps_img_1.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="timesheet_dashboard">
        <div class="container pb-4">
            <img class="img-fluid" src="~/assets/images/dashboard_img.png" alt="">
            <div class="d-flex align-items-center gap-2 flex-wrap mb-4">
                <img class="heading-icon" src="~/assets/images/the_timesheet_icon.svg" alt="">
                <p class="h1 fw-bold mb-0">The "Timesheet" </p>
            </div>
            <p>Timesheet section in the PRIME Portal enables employees to track and log their daily work hours, specifying time spent on tasks or projects. Tracking and filling in timesheets daily by recording work hours against assigned tasks is essential.</p>
            <p>Users can select the relevant month by clicking the "Select Month" button or using the right-arrow button beside each month to access their timesheet.</p>
        </div>
    </div>
    <section class="employee-timesheet bg-light py-5">
        <div class="container bg-white p-4 rounded shadow">
            <div>
                <div class="d-flex align-items-center gap-2 mt-5 flex-wrap mb-4">
                    <img class="heading-icon" src="~/assets/images/employee_timesheet_icon.svg" alt="">
                    <p class="h1 fw-bold mb-0">The "Timesheet" </p>
                </div>
                <p class="mb-4">Users can select the appropriate month, enter daily hours (with a maximum limit of 9 hours per day as per company policy), and ensure timely submission.</p>
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <img class="img-fluid" src="~/assets/images/employee_timesheet_page.png" alt="">
                    </div>
                    <div class="col-12 col-md-6">
                        <ul class="d-flex flex-column gap-2">
                            <li>Once completed, the "Back to Prime" button allows users to return to the dashboard easily. This process ensures accurate record-keeping and supports efficient time management.</li>
                            <li>Once a user selects a month, they are directed to the Timesheet Entry page to log their activities for each day or hour of that month.</li>
                            <li>The page displays fields for Date, Hours, Category of Activity, Activity, Customer, and Project Name, Status, and Action with each row automatically numbered.</li>
                            <li>Users can add new entries by clicking "Add Row" and can edit or delete entries as needed.</li>
                            <li>In the Category of Activity field, choose the activity as per your requirement and describe the task in the Activity section. It allows the user to provide a detailed description of the activity for that day, consisting of at least 50 characters.</li>
                            <li>Multiple entries can be made while filling the timesheet, user can submit the selected entry by clicking on the save button.</li>
                            <li>To submit the timesheet, users select the relevant rows and click "Submit Selected"Submitted entries will then be visible to their managers.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="manager bg-green-1">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="rounded p-4 bg-white mb-4">
                        <img class="img-fluid" src="~/assets/images/manager_timesheet_screen_1.png" alt="">
                    </div>
                    <div class="rounded p-4 bg-white">
                        <img class="img-fluid" src="~/assets/images/manager_timesheet_screen_2.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <img class="img-fluid mb-4" src="~/assets/images/manager_timesheet_graphic.svg" alt="">
                    <p class="h1 text-white fw-bold mb-4">Manager Time Sheet</p>
                    <ul class="d-flex flex-column gap-2 ps-3">
                        <li class="text-white">In the Manager Timesheet section, the interface is similar to the employee timesheet but includes additional resource management features in the Team Timesheet page.</li>
                        <li class="text-white">Managers can view timesheets of their resources and specifically search by selecting the month, project, and employee.</li>
                        <li class="text-white">While timesheets are auto-approved upon submission, managers can reject entries by clicking the "Decline" button and providing remarks if needed.</li>
                        <li class="text-white">When logged in as a Delivery Anchor (DA), managers can access and review the timesheets of resources deployed on their assigned projects.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container bg-white p-4 rounded shadow">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="d-flex align-items-center gap-2 mt-5 flex-wrap mb-4">
                        <img class="heading-icon" src="~/assets/images/onbench_resource_icon.svg" alt="">
                        <p class="h1 fw-bold mb-0">On Bench Resource</p>
                    </div>
                    <ul class="d-flex flex-column gap-2">
                        <li>When a resource is not deployed on any project and is on the bench, they are still required to log their activities in the Timesheet system.</li>
                        <li>To do so, after accessing the Timesheet section and selecting the relevant month, they should choose "Team Computers PVT" from the Customer dropdown and select "On Bench" from the Project Name dropdown.</li>
                        <li>In the Select Activity field, choose the activity as per your requirement and describe the task in the Activity section. It allows the user to provide   detailed description of the activity for that day, consisting of at least 50 characters.</li>
                        <li>After filling in the details, the entry can be saved as a draft by clicking Save, and  once finalized, they can click "Submit Selected" to submit it for approval.</li>
                        <li>This ensuresthat even while on the bench, their activities are tracked and available for managerial review.</li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <img class="img-fluid border" src="~/assets/images/onbench_resource_image.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="presales py-5">
        <div class="container p-4 rounded shadow">
            <div class="row align-items-center">
                <div class="col-12 col-md-5">
                    <div class="d-flex align-items-center gap-2 mt-5 flex-wrap mb-4">
                        <img class="heading-icon" src="~/assets/images/presales_icon.svg" alt="">
                        <p class="h1 text-white fw-bold mb-0">Presales Resource</p>
                    </div>
                    <ul class="d-flex flex-column gap-2">
                        <li class="text-white">When a resource is working on a pre-sales project or involved in internal activities, the timesheet entry page allows them to select relevant details.</li>
                        <li class="text-white">In the Timesheet system, after selecting the relevant month and the customer TEAM COMPUTERS PVT" from the dropdown, the resource can select the project "Pre-Sales" and log activities like Meetings or Proof of Concept (PoC).</li>
                        <li class="text-white">They are also required to fill in hours and provide a detailed description of their activity (at least 50 characters) for that day.</li>
                    </ul>
                </div>
                <div class="col-12 col-md-7">
                    <img class="img-fluid" src="~/assets/images/presales_screen.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="faq py-5" id="faq">
        <div class="container">
            <p class="h1 text-center text-white mb-4 fw-bold mt-4"><span class="highlight_one">Answers</span> to all your <span class="highlight_two">questions</span> regarding <br> Timesheet Portal</p>
            <p class="text-center text-white mb-4">Find all your queries answered below.</p>
            <div class="position-relative">
                <img src="~/assets/images/faq_img_one.svg" alt="faq_image" class="faq_img img_one d-none d-md-block">
                <img src="~/assets/images/faq_img_two.svg" alt="faq_image" class="faq_img img_two d-none d-md-block">
                <div class="row bg-white p-4 border rounded shadow">
                    <div class="col-12 px-0">
                        <div class="faq_wrapper mb-4">
                            <label for="q1" class="faq_container border rounded p-4 block w-100 d-flex align-items-center justify-content-between">
                                <input class="d-none" type="checkbox" name="faq_question" id="q1">
                                <p class="faq_question mb-0 flex-fill text-nowrap overflow-hidden text-truncate">
                                    What is the purpose of this timesheet project.
                                </p>
                                <div class="faq-icons d-flex align-items-center justify-content-center">
                                    <svg class="faq_expand_icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2A14.173 14.173 0 0 0 2 16a14.173 14.173 0 0 0 14 14a14.173 14.173 0 0 0 14-14A14.173 14.173 0 0 0 16 2m8 15h-7v7h-2v-7H8v-2h7V8h2v7h7Z" /><path fill="none" d="M24 17h-7v7h-2v-7H8v-2h7V8h2v7h7z" /></svg>
                                    <svg class="faq_shrink_icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2C8.4 2 2 8.4 2 16s6.4 14 14 14s14-6.4 14-14S23.6 2 16 2m8 15H8v-2h16z" /><path fill="none" d="M24 17H8v-2h16z" /></svg>
                                </div>
                            </label>
                            <div class="faq_answer bg-light">
                                <p class="p-4 mb-0">This project allows users to complete their timesheets, recording daily activities, hours worked, and associated projects. The completed timesheet can be submitted to the manager for review.</p>
                            </div>
                        </div>
                        <div class="faq_wrapper mb-4">
                            <label for="q2" class="faq_container border rounded p-4 block w-100 d-flex align-items-center justify-content-between">
                                <input class="d-none" type="checkbox" name="faq_question" id="q2">
                                <p class="faq_question mb-0 flex-fill text-nowrap overflow-hidden text-truncate">
                                    How can I apply for leave for the day?
                                </p>
                                <div class="faq-icons d-flex align-items-center justify-content-center">
                                    <svg class="faq_expand_icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2A14.173 14.173 0 0 0 2 16a14.173 14.173 0 0 0 14 14a14.173 14.173 0 0 0 14-14A14.173 14.173 0 0 0 16 2m8 15h-7v7h-2v-7H8v-2h7V8h2v7h7Z" /><path fill="none" d="M24 17h-7v7h-2v-7H8v-2h7V8h2v7h7z" /></svg>
                                    <svg class="faq_shrink_icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2C8.4 2 2 8.4 2 16s6.4 14 14 14s14-6.4 14-14S23.6 2 16 2m8 15H8v-2h16z" /><path fill="none" d="M24 17H8v-2h16z" /></svg>
                                </div>
                            </label>
                            <div class="faq_answer bg-light">
                                <p class="p-4 mb-0">When you select the "On Leave" option from the "Category of Activity" dropdown, the activity for that day is automatically filled in as "On Leave." You just need to select the date, customer as Team computer, and Internal, then submit it to the manager.</p>
                            </div>
                        </div>
                        <div class="faq_wrapper mb-4">
                            <label for="q3" class="faq_container border rounded p-4 block w-100 d-flex align-items-center justify-content-between">
                                <input class="d-none" type="checkbox" name="faq_question" id="q3">
                                <p class="faq_question mb-0 flex-fill text-nowrap overflow-hidden text-truncate">
                                    Can I save my timesheet before submitting it?
                                </p>
                                <div class="faq-icons d-flex align-items-center justify-content-center">
                                    <svg class="faq_expand_icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2A14.173 14.173 0 0 0 2 16a14.173 14.173 0 0 0 14 14a14.173 14.173 0 0 0 14-14A14.173 14.173 0 0 0 16 2m8 15h-7v7h-2v-7H8v-2h7V8h2v7h7Z" /><path fill="none" d="M24 17h-7v7h-2v-7H8v-2h7V8h2v7h7z" /></svg>
                                    <svg class="faq_shrink_icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2C8.4 2 2 8.4 2 16s6.4 14 14 14s14-6.4 14-14S23.6 2 16 2m8 15H8v-2h16z" /><path fill="none" d="M24 17H8v-2h16z" /></svg>
                                </div>
                            </label>
                            <div class="faq_answer bg-light">
                                <p class="p-4 mb-0">The timesheet is automatically saved as a draft, allowing you to return later to complete or modify your entries before submission.</p>
                            </div>
                        </div>
                        <div class="faq_wrapper mb-4">
                            <label for="q4" class="faq_container border rounded p-4 block w-100 d-flex align-items-center justify-content-between">
                                <input class="d-none" type="checkbox" name="faq_question" id="q4">
                                <p class="faq_question mb-0 flex-fill text-nowrap overflow-hidden text-truncate">
                                    What happens after I submit my timesheet?
                                </p>
                                <div class="faq-icons d-flex align-items-center justify-content-center">
                                    <svg class="faq_expand_icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2A14.173 14.173 0 0 0 2 16a14.173 14.173 0 0 0 14 14a14.173 14.173 0 0 0 14-14A14.173 14.173 0 0 0 16 2m8 15h-7v7h-2v-7H8v-2h7V8h2v7h7Z" /><path fill="none" d="M24 17h-7v7h-2v-7H8v-2h7V8h2v7h7z" /></svg>
                                    <svg class="faq_shrink_icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2C8.4 2 2 8.4 2 16s6.4 14 14 14s14-6.4 14-14S23.6 2 16 2m8 15H8v-2h16z" /><path fill="none" d="M24 17H8v-2h16z" /></svg>
                                </div>
                            </label>
                            <div class="faq_answer bg-light">
                                <p class="p-4 mb-0">After submitting your timesheet, it will be sent to your manager for review in the auto-approved stage. If the timesheet is declined, it will be returned to you for edits, and you can resubmit it.</p>
                            </div>
                        </div>
                        <div class="faq_wrapper mb-4">
                            <label for="q5" class="faq_container border rounded p-4 block w-100 d-flex align-items-center justify-content-between">
                                <input class="d-none" type="checkbox" name="faq_question" id="q5">
                                <p class="faq_question mb-0 flex-fill text-nowrap overflow-hidden text-truncate">
                                    What should I do if my project is not showing in the dropdown list?
                                </p>
                                <div class="faq-icons d-flex align-items-center justify-content-center">
                                    <svg class="faq_expand_icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2A14.173 14.173 0 0 0 2 16a14.173 14.173 0 0 0 14 14a14.173 14.173 0 0 0 14-14A14.173 14.173 0 0 0 16 2m8 15h-7v7h-2v-7H8v-2h7V8h2v7h7Z" /><path fill="none" d="M24 17h-7v7h-2v-7H8v-2h7V8h2v7h7z" /></svg>
                                    <svg class="faq_shrink_icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2C8.4 2 2 8.4 2 16s6.4 14 14 14s14-6.4 14-14S23.6 2 16 2m8 15H8v-2h16z" /><path fill="none" d="M24 17H8v-2h16z" /></svg>
                                </div>
                            </label>
                            <div class="faq_answer bg-light">
                                <p class="p-4 mb-0">If your project is not appearing, please contact your respective DA (Delivery Anchor) for assistance. Alternatively, you can select "TEAM COMPUTERS PVT LTD" from the customer dropdown and choose "Internal" for the project. Then, please provide the details of your work on that project in the activity column.</p>
                            </div>
                        </div>
                        <div class="faq_wrapper mb-4">
                            <label for="q6" class="faq_container border rounded p-4 block w-100 d-flex align-items-center justify-content-between">
                                <input class="d-none" type="checkbox" name="faq_question" id="q6">
                                <p class="faq_question mb-0 flex-fill text-nowrap overflow-hidden text-truncate">
                                    How do I submit my completed timesheet?
                                </p>
                                <div class="faq-icons d-flex align-items-center justify-content-center">
                                    <svg class="faq_expand_icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2A14.173 14.173 0 0 0 2 16a14.173 14.173 0 0 0 14 14a14.173 14.173 0 0 0 14-14A14.173 14.173 0 0 0 16 2m8 15h-7v7h-2v-7H8v-2h7V8h2v7h7Z" /><path fill="none" d="M24 17h-7v7h-2v-7H8v-2h7V8h2v7h7z" /></svg>
                                    <svg class="faq_shrink_icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2C8.4 2 2 8.4 2 16s6.4 14 14 14s14-6.4 14-14S23.6 2 16 2m8 15H8v-2h16z" /><path fill="none" d="M24 17H8v-2h16z" /></svg>
                                </div>
                            </label>
                            <div class="faq_answer bg-light">
                                <p class="p-4 mb-0">Once you have filled out all required fields, you can either click the “Submit” button or submit all entries by selecting multiple rows to send your timesheet to your manager for review.</p>
                            </div>
                        </div>
                        <div class="faq_wrapper mb-4">
                            <label for="q7" class="faq_container border rounded p-4 block w-100 d-flex align-items-center justify-content-between">
                                <input class="d-none" type="checkbox" name="faq_question" id="q7">
                                <p class="faq_question mb-0 flex-fill text-nowrap overflow-hidden text-truncate">
                                    What information do I need to provide in the timesheet?
                                </p>
                                <div class="faq-icons d-flex align-items-center justify-content-center">
                                    <svg class="faq_expand_icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2A14.173 14.173 0 0 0 2 16a14.173 14.173 0 0 0 14 14a14.173 14.173 0 0 0 14-14A14.173 14.173 0 0 0 16 2m8 15h-7v7h-2v-7H8v-2h7V8h2v7h7Z" /><path fill="none" d="M24 17h-7v7h-2v-7H8v-2h7V8h2v7h7z" /></svg>
                                    <svg class="faq_shrink_icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2C8.4 2 2 8.4 2 16s6.4 14 14 14s14-6.4 14-14S23.6 2 16 2m8 15H8v-2h16z" /><path fill="none" d="M24 17H8v-2h16z" /></svg>
                                </div>
                            </label>
                            <div class="faq_answer bg-light">
                                <p class="p-4 mb-0">You need to specify the activities you performed each day, and the hours worked (up to 9), and select the relevant project and customer from a dropdown list.</p>
                            </div>
                        </div>
                        <div class="faq_wrapper">
                            <label for="q8" class="faq_container border rounded p-4 block w-100 d-flex align-items-center justify-content-between">
                                <input class="d-none" type="checkbox" name="faq_question" id="q8">
                                <p class="faq_question mb-0 flex-fill text-nowrap overflow-hidden text-truncate">
                                    Can I download my entire month's timesheet?
                                </p>
                                <div class="faq-icons d-flex align-items-center justify-content-center">
                                    <svg class="faq_expand_icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2A14.173 14.173 0 0 0 2 16a14.173 14.173 0 0 0 14 14a14.173 14.173 0 0 0 14-14A14.173 14.173 0 0 0 16 2m8 15h-7v7h-2v-7H8v-2h7V8h2v7h7Z" /><path fill="none" d="M24 17h-7v7h-2v-7H8v-2h7V8h2v7h7z" /></svg>
                                    <svg class="faq_shrink_icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2C8.4 2 2 8.4 2 16s6.4 14 14 14s14-6.4 14-14S23.6 2 16 2m8 15H8v-2h16z" /><path fill="none" d="M24 17H8v-2h16z" /></svg>
                                </div>
                            </label>
                            <div class="faq_answer bg-light">
                                <p class="p-4 mb-0">Yes, you can download your entire month's timesheet in Excel format for your records by clicking the 'Export to Excel' button.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer py-5">
        <div class="container p-4 rounded shadow bg-white">
            <div class="d-flex justify-content-center">
                <img src="~/assets/images/timesheet_footer_icon.svg" alt="">
            </div>
            <p class="text-center h2 font-medium">If the resource is working on an internal project for Team Computers, they can select "Internal\TCPL" from the Project Name dropdown.</p>
            <p class="text-center">Once all fields are completed, the resource can submit the timesheet by clicking the Submit Selected button. Upon submission, the status changes to "Submitted" and the timesheet is forwarded for managerial review and approval.</p>
        </div>
    </section>
</body>
</html>