<div class="main overflow-y-auto flex flex-col">
    <div class="mt-auto">
        <img src="/assets/images/wip_image.svg" class="w-[90%] max-w-2xl mx-auto mt-4" alt="">
    </div>
    <div class="mb-auto mt-4">
        <h1 class="font-extrabold text-2xl mb-2 sm:text-4xl 2xl:text-5xl text-center text-[#4B4E5C]">Work In <span class="text-emerald-400">Progress</span></h1>
        <p class="text-center text-sm 2xl:text-base">We're committed to giving you the best. This page will be up shortly.</p>
    </div>
</div>